@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Objectivity Regular';
        font-style: normal;
        font-weight: 400;
        src: url(/fonts/objectivity.regular.otf) format('otf');
    }
}